.logo {
    flex: 0 0 25%;
    display: flex;
    justify-content:center;
    font-weight: 200;
    margin-bottom: 2px;
    padding: 0;
}
.logo h1{
    color:black;
    float: left;
    margin-top: 0;
    font-size: 40px;
}   
.header{
    margin-top: 25px;
    min-height: 60px;
}
.search-product input{
    width: 88%;
    height: 40px;
    border: 1px solid #ddd;
    border-right: none;
    outline: none;
    margin-right: -15px;
    padding-left: 15px;
    font-size: 18px;
}

.search-product button{
    width: 12%;
    height: 40px;
    border-left: none;
    border: 1px solid #ddd;
    font-size: 18px;
}
.search-product{
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
}
.selected-product{
    flex:0 0 25%;
    display: flex;
    justify-content: center;
}
.selected-product button{
    height: 40px;
    width: 60px;
}

.common-btn{
    font-size: 15px;
}
/* Get the icons from this URL: https://cdnjs.com/libraries/font-awesome*/
.fa-solid{
    margin-right: 10px;
    font-size: 18px;
}
.full-body-banner-wrapper{
    border-top  : 1px solid #ddd;
}
.list-header{
    height: 60px;
    border: 2px dashed #ddd;
}
.list-header h4{
    font-size: 18px;
    display:inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 500;
}
.list-header span{
    float: right;
    padding: 23px;
}
.category-list ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 1px solid #ddd;
}
.category-list ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px 40px;
}
.category-list ul li a{
    font-weight: 400;
    color: #333;
    text-decoration: none;
}
.shop-menu{
    display: flex;
}
.left-menu-list{
    width: 70%;
}

.right-menu-list{
    width: 30%;
    direction: rtl;
}
.shop-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.shop-menu ul li{
    min-width: 75px;
    padding: 20px;
}
.shop-menu ul li a{
    color:#333;
    font-weight: 400;
    text-decoration:none;
}
.shop-menu ul li a:hover{
    color: orange;

}
.shop-menu ul.dropdown{
    display: none;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    box-shadow: #ddd 1px 1px 3px;
}
.dropdown-head:hover ul.dropdown{
    display: block;
}
.banner{
    position:relative;
    height: 400px;
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-text{
    color: #fff;
    background-color: #ff8e005c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.banner-text h4{
    align-items: top;
    color: #fff;
    padding-left: 10%;
    padding-right: 70%;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text h3{
    margin: 0;
    font-size: 50px;
}
.banner-text a.shop-now{
    background-color: #fff;
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
}
.features-points{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}
.icon-text-wrap{
    padding: 30px;
    display: flex;
}
.icon-text-wrap i{
    font-size: 20px;
    color: orange;
}
.icon-text-wrap span{
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
}
.product-row{
    margin-bottom: 30px;
}
.category-item{
    /* optional here: */ border: 1px solid #ccc; 
    padding: 8px;
    margin-left: 35px;
    margin-right: 25px;
    margin-top: 1x;
}
.category-item .product-count{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}
.category-item.category-image img{
    width: 100%;
}
.category-item .category-type h5{
    color: darkred;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}
